<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">M&B 勢力配置エディタ</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <label class="control-label-sub">モジュール</label>
          <select class="form-control" ng-model="selectedModule" ng-change="loadModule()" ng-options="m.id as m.label for m in modules">
            <option value="">（一覧から選択）</option>
          </select>
        </div>
      </form>

      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
